@import "tailwindcss";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #1F2937; /* bg-gray-800 */
  color: #6b6b6b;
}

/* Estilos gerais */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1F2937; /* Garantindo o fundo cinza-escuro */
}

.main-content {
  display: flex;
  flex: 1;
  width: 100%;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: #1F2937; /* Mantendo bg-gray-800 */
  color: #6b6b6b;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .content {
    padding: 1rem;
  }
}

/* Estilos para os links */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #797979;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(21, 255, 0);
}
